@model MessageCreateViewModel

<h3>@(Model.Action == "Edit" ? "Редакция" : "Ново съобщение")</h3>

<form asp-action="@Model.Action" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Content" class="form-label"></label>
        <textarea asp-for="Content" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="Audience" class="form-label"></label>
        <select asp-for="Audience" class="form-select">
            @foreach (MessageAudience audience in Enum.GetValues(typeof(MessageAudience)))
            {
                <option value="@audience">@audience.GetDisplayName()</option>
            }
        </select>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="mb-3">
        @if (Model.Action == "Edit" && Model?.AttachmentFilePath != null)
        {
            <p>
                Текущ файл:
                <a href="@Model.AttachmentFilePath" target="_blank" class="text-secondary">@Model.AttachmentFileName</a>
            </p>
        }

        <label for="File" class="form-label">@(Model.Action == "Create" ? "Прикачен файл (по избор)" : "Нов файл (по избор)")</label>
        <input asp-for="File" class="form-control" />
    </div>

    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Назад</a>
    <button type="submit" class="btn btn-darkBlue">Запази</button>
</form>