@* @model FeeCalculationViewModel

@{
    var bulgarian = new System.Globalization.CultureInfo("bg-BG");
    var textInfo = bulgarian.TextInfo;
}

<h2>Изчисляване на такса</h2>

<form asp-action="CalculateFees" method="post">
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="Month">Месец</label>
            <select asp-for="Month" class="form-select">
                @for (int m = 1; m <= 12; m++)
                {
                    var name = textInfo.ToTitleCase(bulgarian.DateTimeFormat.GetMonthName(m));
                    <option value="@m">@name</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label asp-for="Year">Година</label>
            <input asp-for="Year" class="form-control" />
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="table-light">
            <tr>
                <th>Потребител</th>
                <th>Присъствени дни</th>
                <th>Пенсия</th>
                <th>Рента</th>
                <th>Изключение</th>
                <th>Реална издръжка</th>
                <th>Такса</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Users.Count; i++)
            {
                <tr>
                    <td>@Model.Users[i].FullName</td>
                    <td>
                        <input asp-for="Users[@i].PresentDays" class="form-control" />
                        <input type="hidden" asp-for="Users[@i].UserId" />
                    </td>
                    <td>@Model.Users[i].Pension</td>
                    <td>@Model.Users[i].Rent</td>
                    <td>
                        <input type="checkbox" asp-for="Users[@i].HasException" />
                    </td>
                    <td>@Model.Users[i].RealCost.ToString("F2") лв</td>
                    <td>@Model.Users[i].CalculatedFee.ToString("F2") лв</td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Изчисли таксите</button>
    <button type="submit" name="generateBook" value="true" class="btn btn-success">Генерирай таксова книга</button>
</form> *@