@model List<ApplicationUser>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Потребители</h3>
    <input type="text" id="residentSearch" class="form-control" placeholder="Търси по име..." style="width: 50% !important; height: fit-content">
    <a class="btn btn-info d-flex align-items-center justify-content-center" style="height: fit-content" asp-area="Identity" asp-page="/Account/Register">Добавяне на потребител</a>
    <a class="btn btn-warning d-flex align-items-center justify-content-center" style="height: fit-content" asp-controller="Admin" asp-action="GoToArchive">Архив</a>
</div>

<table id="residentTable" class="table table-bordered table-striped mt-3">
    <thead class="table-light">
    <tr>
        <th>Име</th>
        <th>Имейл</th>
        <th>Завеждане</th>
        <th>Изключване</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@string.Concat(user.FirstName, " ", user.MiddleName, " ", user.LastName)</td>
            <td>@user.Email</td>
            <td>@user.ResidentInfo?.DateAdmitted.ToString()</td>
            <td>@(user.ResidentInfo?.DateDischarged.ToString() ?? "-") </td>
            <td>@user.UserStatus.GetDisplayName()</td>
            <td class="d-flex justify-content-center">
                    <a asp-controller="Admin" asp-action="EditUser" asp-route-userId="@user.Id" class="btn btn-success btn-sm action-icon @(user.UserStatus == UserStatus.Inactive ? "disabled" : "")" title="Редактирай">
                    <i class="fas fa-edit"></i>
                </a>
                    <a class="btn btn-danger btn-sm @(user.UserStatus == UserStatus.Inactive ? "disabled" : "")" title="Изтрий" data-bs-toggle="modal" data-bs-target="#deleteModal" data-item-name="@($"потребителя {user.FirstName} {user.LastName}")" data-delete-url="@($"/Admin/DeleteUser/{user.Id}")">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        setupTableSearch("residentSearch", "#residentTable");
    });
</script>